/* line 2, ../online-store/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../online-store/scss/base/_base.scss */
* {
  border: 1px solid red;
}

/* line 10, ../online-store/scss/base/_base.scss */
button {
  padding: 0;
}

/* line 14, ../online-store/scss/base/_base.scss */
body {
  margin: 0;
}

/* line 18, ../online-store/scss/base/_base.scss */
h1, p, h2 {
  margin: 0;
}

/* line 22, ../online-store/scss/base/_base.scss */
.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* line 27, ../online-store/scss/base/_base.scss */
.hidden {
  display: none !important;
}

/* line 31, ../online-store/scss/base/_base.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 37, ../online-store/scss/base/_base.scss */
.li {
  padding: 10px;
}

/* line 41, ../online-store/scss/base/_base.scss */
.icon-20 {
  width: 20px;
}

/* line 45, ../online-store/scss/base/_base.scss */
.icon-16 {
  width: 16px;
}

/* line 50, ../online-store/scss/base/_base.scss */
.cc {
  justify-content: center;
  align-items: center;
}

/* line 55, ../online-store/scss/base/_base.scss */
.f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 61, ../online-store/scss/base/_base.scss */
.main-btn {
  display: block;
  width: 100%;
  background-color: green;
}

/* line 68, ../online-store/scss/base/_base.scss */
.label {
  margin: 10px 0;
}

/* line 4, ../online-store/scss/checkout.scss */
.header {
  display: flex;
  justify-content: space-between;
}

/* line 9, ../online-store/scss/checkout.scss */
.head-title {
  display: flex;
}

/* line 13, ../online-store/scss/checkout.scss */
.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* line 19, ../online-store/scss/checkout.scss */
.check-container {
  width: 500px;
}

/* line 23, ../online-store/scss/checkout.scss */
.adress-conrainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 29, ../online-store/scss/checkout.scss */
.adress__btn {
  margin: 10px 0;
}

/* line 33, ../online-store/scss/checkout.scss */
.delivery-way__item {
  display: flex;
}

/* line 37, ../online-store/scss/checkout.scss */
.pay-way {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 43, ../online-store/scss/checkout.scss */
.order-info {
  position: sticky;
  top: 0;
  border: 2px solid blue;
}

/* line 50, ../online-store/scss/checkout.scss */
.order-info__head {
  display: flex;
  justify-content: space-between;
}

/* line 55, ../online-store/scss/checkout.scss */
.order-info__title {
  display: flex;
}

/* line 59, ../online-store/scss/checkout.scss */
.order__item {
  display: flex;
}

/* line 63, ../online-store/scss/checkout.scss */
.order__item-img {
  width: 100px;
}

/* line 67, ../online-store/scss/checkout.scss */
.order__item-description {
  display: flex;
  flex-direction: column;
}

/* line 72, ../online-store/scss/checkout.scss */
.goods-price {
  display: flex;
  justify-content: space-between;
}

/* line 77, ../online-store/scss/checkout.scss */
.order-price {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=checkout.css.map */