/* line 2, ../online-store/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../online-store/scss/base/_base.scss */
* {
  border: 1px solid red;
}

/* line 10, ../online-store/scss/base/_base.scss */
button {
  padding: 0;
}

/* line 14, ../online-store/scss/base/_base.scss */
body {
  margin: 0;
}

/* line 18, ../online-store/scss/base/_base.scss */
h1, p, h2 {
  margin: 0;
}

/* line 22, ../online-store/scss/base/_base.scss */
.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* line 27, ../online-store/scss/base/_base.scss */
.hidden {
  display: none !important;
}

/* line 31, ../online-store/scss/base/_base.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 37, ../online-store/scss/base/_base.scss */
.li {
  padding: 10px;
}

/* line 41, ../online-store/scss/base/_base.scss */
.icon-20 {
  width: 20px;
}

/* line 45, ../online-store/scss/base/_base.scss */
.icon-16 {
  width: 16px;
}

/* line 50, ../online-store/scss/base/_base.scss */
.cc {
  justify-content: center;
  align-items: center;
}

/* line 2, ../online-store/scss/blocks/_header-main.scss */
.header-main {
  display: flex;
  justify-content: center;
}

/* line 7, ../online-store/scss/blocks/_header-main.scss */
.logo {
  display: flex;
  width: 100px;
}

/* line 12, ../online-store/scss/blocks/_header-main.scss */
.gender-menu {
  display: flex;
}

/* line 16, ../online-store/scss/blocks/_header-main.scss */
.gender-menu__item {
  display: flex;
  width: 100px;
}

/* line 21, ../online-store/scss/blocks/_header-main.scss */
.search-form {
  display: flex;
  flex-grow: 1;
}

/* line 26, ../online-store/scss/blocks/_header-main.scss */
.search-form__input {
  flex-grow: 1;
}

/* line 30, ../online-store/scss/blocks/_header-main.scss */
.search-form__btn {
  display: flex;
  width: 38px;
}

/* line 35, ../online-store/scss/blocks/_header-main.scss */
.user-panel {
  display: flex;
}

/* line 39, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown {
  display: flex;
  position: relative;
}

/* line 44, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__btn {
  display: flex;
  width: 100px;
}

/* line 49, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__select {
  position: absolute;
}

/* line 53, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__head {
  display: flex;
}

/* line 57, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__head-item {
  padding: 10px;
}

/* line 61, ../online-store/scss/blocks/_header-main.scss */
.up__item {
  display: flex;
  width: 100px;
}

/* line 3, ../online-store/scss/blocks/_header.scss */
.header {
  border: 1px solid red;
}

/* line 1, ../online-store/scss/blocks/_section-goods.scss */
.goods {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 8, ../online-store/scss/blocks/_section-goods.scss */
.goods__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  padding: 10px;
}

/* line 16, ../online-store/scss/blocks/_section-goods.scss */
.goods__item-image {
  width: 100%;
}

/* line 20, ../online-store/scss/blocks/_section-goods.scss */
.goods__item-btnlike {
  position: absolute;
  width: 32px;
  bottom: 10px;
  right: 10px;
}

/* line 1, ../online-store/scss/blocks/_product.scss */
.product-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* line 7, ../online-store/scss/blocks/_product.scss */
.product-list-img {
  display: flex;
  flex-direction: column;
  width: 50px;
}

/* line 13, ../online-store/scss/blocks/_product.scss */
.img-item {
  width: 100%;
}

/* line 17, ../online-store/scss/blocks/_product.scss */
.select-size {
  display: block;
}

/* line 21, ../online-store/scss/blocks/_product.scss */
.btn__like-cart {
  width: 32px;
}

/*# sourceMappingURL=main.css.map */