/* line 2, ../online-store/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../online-store/scss/base/_base.scss */
* {
  border: 1px solid red;
}

/* line 10, ../online-store/scss/base/_base.scss */
body {
  margin: 0;
}

/* line 14, ../online-store/scss/base/_base.scss */
h1, p, h2 {
  margin: 0;
}

/* line 18, ../online-store/scss/base/_base.scss */
.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* line 23, ../online-store/scss/base/_base.scss */
.hidden {
  display: none !important;
}

/* line 27, ../online-store/scss/base/_base.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 2, ../online-store/scss/blocks/_header-main.scss */
.header-main {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

/* line 8, ../online-store/scss/blocks/_header-main.scss */
.logo {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid red;
}

/* line 15, ../online-store/scss/blocks/_header-main.scss */
.gender {
  display: flex;
  border: 1px solid red;
}

/* line 20, ../online-store/scss/blocks/_header-main.scss */
.gender__item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid red;
}

/* line 27, ../online-store/scss/blocks/_header-main.scss */
.search-form {
  display: flex;
  flex-grow: 1;
  border: 1px solid red;
}

/* line 33, ../online-store/scss/blocks/_header-main.scss */
.search-form__input {
  flex-grow: 1;
  padding: 0 10px;
  border: 1px solid red;
}

/* line 38, ../online-store/scss/blocks/_header-main.scss */
.search-form__button {
  width: 30px;
  border: 1px solid red;
}

/* line 43, ../online-store/scss/blocks/_header-main.scss */
.user-panel {
  display: flex;
  border: 1px solid red;
}

/* line 48, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown {
  position: relative;
}

/* line 52, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__btn {
  width: 100%;
  height: 100%;
}

/* line 57, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__content {
  position: absolute;
}

/* line 61, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__head {
  display: flex;
}

/* line 65, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__head-item {
  padding: 10px;
  border: 1px solid red;
}

/* line 70, ../online-store/scss/blocks/_header-main.scss */
.up-dropdown__item {
  padding: 10px;
  border: 1px solid red;
}

/* line 75, ../online-store/scss/blocks/_header-main.scss */
.up__item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid red;
}

/* line 3, ../online-store/scss/blocks/_header.scss */
.header {
  border: 1px solid red;
}

/* line 1, ../online-store/scss/blocks/_section-goods.scss */
.goods {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 8, ../online-store/scss/blocks/_section-goods.scss */
.goods__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  padding: 10px;
}

/* line 16, ../online-store/scss/blocks/_section-goods.scss */
.goods__item-image {
  width: 100%;
}

/* line 20, ../online-store/scss/blocks/_section-goods.scss */
.goods__item-btnlike {
  position: absolute;
  width: 32px;
  bottom: 10px;
  right: 10px;
}

/* line 1, ../online-store/scss/blocks/_product.scss */
.product-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* line 7, ../online-store/scss/blocks/_product.scss */
.product-list-img {
  display: flex;
  flex-direction: column;
  width: 50px;
}

/* line 13, ../online-store/scss/blocks/_product.scss */
.img-item {
  width: 100%;
}

/* line 17, ../online-store/scss/blocks/_product.scss */
.select-size {
  display: block;
}

/* line 21, ../online-store/scss/blocks/_product.scss */
.btn__like-cart {
  width: 32px;
}

/*# sourceMappingURL=main.css.map */