@import './base/base';

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.shopping-cart__head {
    display: flex;
    //repeate
    justify-content: space-between;
    align-items: center;
}

.cart-item {
    display: flex;
    //repeate
    justify-content: space-between;
    align-items: center;
}

.cart-item__buttons {
    display: flex;
}

.cart-item__image {
    width: 100px;
}

.cart-item__control-quentity {
    display: flex;
}

.cart-item__input-quentity {
    text-align: center;
    width: 32px;
}

//подумать над шаблоном кнопки, как лучше сделать
.btn-remove,
.btn-like,
.btn-plus,
.btn-minus {
    display: flex;
    width: 32px;
}

.total-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: sticky;
    top: 0;
    bottom: 0;
}

.total__price-full {
    display: flex;
    //repeate
    align-self: stretch;
    justify-content: space-between;
}

//шаблон кнопки
.btn-2 {
    display: flex;
    align-self: stretch;
}
