@import './base/base';

//шаблон
.header {
    display: flex;
    justify-content: space-between;
}

.head-title {
    display: flex;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.check-container {
    width: 500px;
}

.adress-conrainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adress__btn {
    margin: 10px 0;
}

.delivery-way__item {
    display: flex;
}

.pay-way {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order-info {
    position: sticky;
    top: 0;

    border: 2px solid blue;
}

.order-info__head {
    display: flex;
    justify-content: space-between;
}

.order-info__title {
    display: flex;
}

.order__item {
    display: flex;
}

.order__item-img {
    width: 100px;
}

.order__item-description {
    display: flex;
    flex-direction: column;
}

.goods-price {
    display: flex;
    justify-content: space-between;
}

.order-price {
    display: flex;
    justify-content: space-between;
}