//подключение базовых стилей
@import './base/base';

body {
    background-color: rgb(128, 128, 128);
}

.signin-container {
    width: 600px;
    margin: 0 auto;
    background-color: gray;
    border: 2px solid red;
}

//селектор повторяется!!!
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

//слишком общий класс
.main {
    background-color: white;
    border: 2px solid red;
}

.signin-options {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    border: 1px solid red;
}

.signin-options__item {
    display: flex;
    width: 295px;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px;
    border: 1px solid red;
}

.signin-form__label {
    display: inline;
    margin: 10px 0;
    border: 1px solid red;
}

.signin-form__item {
    width: 350px;  //можно регулировать размер инпута
    border: 1px solid red;
}

.signin-form__button {
    margin-top: 10px;
    align-self: center;
}