.person-options

    //- Основная информация о клиенте 
    .person-info
        img.avatar(src, alt='аватар')
        .welcome
            p Здравствуйте,
            h2.person-fullname Lorem, ipsum.

    //- Разделы клиента 
    ul.sections
        li.li
            a(href) Мои заказы
        li.li
            a(href) Моя информация
        li.li
            a(href) Изменить пароль
        li.li
            a(href) Адресная книга
        li.li
            a(href) Мои способы оплаты

    button.exit-btn Выйти