//Стили для основного блока в шапке
.header-main {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    width: 100px;
}

.gender-menu {
    display: flex;
}

.gender-menu__item {
    display: flex;
    width: 100px;
}

.search-form {
    display: flex;
    flex-grow: 1;
}

.search-form__input {
    flex-grow: 1;
}

.search-form__btn {
    display: flex;
    width: 38px;
}

.user-panel {
    display: flex;
}

.up-dropdown {
    display: flex;
    position: relative;
}

.up-dropdown__btn {
    display: flex;
    width: 100px;
}

.up-dropdown__select {
    position: absolute;
}

.up-dropdown__head {
    display: flex;
}

.up-dropdown__head-item {
    padding: 10px;
}

.up__item {
    display: flex;
    width: 100px;
}