extends common/_layout.pug

block head
  title Регистрация

block header
  //- Логотип сайта 
  header.header.auth-container-wrap
    .logo.cc
      a(href='/index.html') LOGOTIP

block content
  main.main.auth-container-wrap
    //- Поле для регистрации 
    .content

      //- навигационное меню 
      ul.auth-head
        li.auth-head__item.cc
          span Впервые на Asos?

        li.auth-head__item.cc
          a(href='/pages/sign-in.html') Вы уже Зарегестрированы?

      //- Форма Регистрации 
      form.auth-form(action='/sign-up.php', method='POST')
        label.label(for='first_name') Имя:
        input.inp#first_name(type='text' name='first_name' required)

        label.label(for='last_name') Фамилия:
        input.inp#last_name(type='text' name='last_name' required)

        label.label(for='patronymic') Отчество:
        input.inp#last_name(type='text' name='patronymic')

        label.label(for='email') Адрес электронной почты:
        input.inp#email(type='text' name='email' required)

        label.label(for='password') Пароль:
        input.inp#password(type='password' name='password' required)

        //- label.label(for='replay-password') Повторите пароль:
        //- input.inp#replay-password(type='password')

        //- label.label(for='birthday') Дата рождения:
        //- input#birthday(type='date')

        button.signin-form__btn Зарегестрироваться