//- БЛОК С ТОВАРАМИ - Женщины
.goods.container
    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-descriptions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium?
        span.goods__item-price 1090.00 руб
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-descriptions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium?
        span.goods__item-price 1090.00 руб
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-descriptions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium?
        span.goods__item-price 1090.00 руб
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-descriptions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium?
        span.goods__item-price 1090.00 руб
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-descriptions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium?
        span.goods__item-price 1090.00 руб
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-descriptions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium?
        span.goods__item-price 1090.00 руб
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-descriptions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium?
        span.goods__item-price 1090.00 руб
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-descriptions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium?
        span.goods__item-price 1090.00 руб
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")