//Стили для основного блока в шапке
.header-main {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid red;
}

.gender {
    display: flex;
    border: 1px solid red;
}

.gender__item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid red;
}

.search-form {
    display: flex;
    flex-grow: 1;
    border: 1px solid red;
}

.search-form__input {
    flex-grow: 1;
    padding: 0 10px;
    border: 1px solid red;
}
.search-form__button {
    width: 30px;
    border: 1px solid red;
}

.user-panel {
    display: flex;
    border: 1px solid red;
}

.up-dropdown {
    position: relative;
}

.up-dropdown__btn {
    width: 100%;
    height: 100%;
}

.up-dropdown__content {
    position: absolute;
}

.up-dropdown__head {
    display: flex;
}

.up-dropdown__head-item {
    padding: 10px;
    border: 1px solid red;
}

.up-dropdown__item {
    padding: 10px;
    border: 1px solid red;
}

.up__item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid red;
}

