// общие стили
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}