// общие стили
* {
    box-sizing: border-box;
}

* {
    border: 1px solid red;
}

body {
    margin: 0;
}

h1, p, h2 {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}