.order-info
    .order-info__head
        .order-info__title
            h2 Количество товаров -
            span.f-c-c 1

    a.f-c-c(href='./card.html') Изменить

    .order__item
        img.order__item-img(src='/img/goods/14247601-1-sesame.jpg', alt='товар')
        .order__item-description
            span.order__item-price 1260.00 руб
            span.order__item-title Lorem ipsum dolor sit amet consectetur adipisicing.
        
            //- сырая реализация 
            span.order__item-properties Lorem, ipsum dolor.
            span.order__item-quentity Кол-во:
            span 1

    .order__item
        img.order__item-img(src='/img/goods/14247601-1-sesame.jpg', alt='товар')
        .order__item-description
            span.order__item-price 1260.00 руб
            span.order__item-title Lorem ipsum dolor sit amet consectetur adipisicing.
        
            //- сырая реализация 
            span.order__item-properties Lorem, ipsum dolor.
            span.order__item-quentity Кол-во:
            span 1

    .order__total
        .goods-price
            span Итого
            span.f-c-c 1260.00 руб
        
        .order-price
            h2 Всего к оплате
            span.f-c-c 1260.00 руб