//- БЛОК С ТОВАРАМИ - Мужчины
.goods.container
    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-title Худи в стиле oversized бежевого цвета ASOS DESIGN
        span.goods__item-price 1 790,00 ₽
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-title Худи в стиле oversized бежевого цвета ASOS DESIGN
        span.goods__item-price 1 790,00 ₽
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-title Худи в стиле oversized бежевого цвета ASOS DESIGN
        span.goods__item-price 1 790,00 ₽
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-title Худи в стиле oversized бежевого цвета ASOS DESIGN
        span.goods__item-price 1 790,00 ₽
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-title Худи в стиле oversized бежевого цвета ASOS DESIGN
        span.goods__item-price 1 790,00 ₽
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-title Худи в стиле oversized бежевого цвета ASOS DESIGN
        span.goods__item-price 1 790,00 ₽
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-title Худи в стиле oversized бежевого цвета ASOS DESIGN
        span.goods__item-price 1 790,00 ₽
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")

    .goods__item
        a(href="/pages/product-info.html")
            img(src="/img/goods/14247601-1-sesame.jpg", alt="товар")
        span.goods__item-title Худи в стиле oversized бежевого цвета ASOS DESIGN
        span.goods__item-price 1 790,00 ₽
        button.goods__item-btnlike.f-c-c
            img(src="/img/icons/icon-like.svg", alt="Избранное")