// общие стили
* {
    box-sizing: border-box;
}

* {
    border: 1px solid red;
}

button {
    padding: 0;
}

body {
    margin: 0;
}

h1, p, h2 {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    padding: 10px;
}

.icon-20 {
    width: 20px;
}

.icon-16 {
    width: 16px;
}

//Центрирование контента(Content-Center)
.cc {
    justify-content: center;
    align-items: center;
}

.f-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-btn {
    display: block;
    width: 100%;
    background-color: green;
}

//шаблон
.label {
    align-self: flex-start;
    margin: 10px 0;
}

.inp {
    width: 250px;
}